@page "/"
@using KeyBlazorNoJS.Components.Layout
@rendermode InteractiveServer
@inject ILogger<MainLayout> Logger

<div @ref="keyDownDiv" @onkeydown="KeyPress" tabindex="0">
    <PageTitle>Home</PageTitle>

    <h1>Hello, world!</h1>

    Welcome to your new app.

</div>

@code{

    private ElementReference keyDownDiv;

    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("YOsdf");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Logger.LogInformation("ONADTERDRENDER");
        if (firstRender)
        {
            Logger.LogInformation("Focusing");
            await keyDownDiv.FocusAsync();
        }
    }

    public void KeyPress()
    {
        Logger.LogInformation("YO");
    }

}